@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.cursive {
  font-family: "Cedarville Cursive", cursive;
}
.custom-video{
    filter: sepia(100%) brightness(120%);
}
.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #514f3d 0.01%, #c1c180 50.01%, #26282f 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #1414161f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}
.footer-wrapper {
  
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(33,32,30, 0) 0%,
      rgba(33,32,30, 0.32) 100%
    ),
    rgba(112,66,20, 0.12);
  box-shadow: inset 0 0 12px #413e3c;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(240,227,91, 0) 0%,
      rgba(255, 240, 79, 0.975) 0%
    ),
    rgba(112,66,20, 0.24);
  box-shadow: inset 0 0 12px #e7df8e;
}

.button-primary:hover {
    color: black; /* Change text color to black on hover */
  }

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.project-card-link {
  text-decoration: none;
  z-index: 49;
}

.project-card-container {
  width: 550px; /* Default width */
  height: 400px; /* Default height */
  transition: transform 0.3s ease;
}

.image-container {
  width: 550px; /* Default width */
  height: 400px; /* Default height */
  position: relative;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  .project-card-container {
    width: 100%; /* Adjust width for smaller screens */
  }
  
  .image-container {
    width: 100%; /* Adjust width for smaller screens */
  }
}


.image-container img {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  max-height: 82%; /* Ensure the image doesn't exceed the container height */
  position:relative;
  
  
}


.project-card-container:hover {
  transform: scale(1.05); /* Scale up by 5% on hover */
}

.project-card-container:hover .shadow-lg {
  box-shadow: 0 10px 20px rgba(231, 223, 142, 0.8); 
  z-index: 49;
}

.project-text{

}
.project-text:hover{
  background-color: transparent;
}


.logo-spin{
  transition: transform 1s ease;
}
.logo-spin:hover{
  transform: rotate(360deg);
}

.nav{

}
.nav:hover{
  background-color: whitesmoke;
  color: black;
}

.nav-link {
  width: 20vw; /* Adjust the percentage as needed */
}
